# This file specifies files that are *not* uploaded to Google Cloud
# using gcloud. It follows the same syntax as .gitignore, with the addition of
# "#!include" directives (which insert the entries of the given .gitignore-style
# file at that point).
#
# For more information, run:
#   $ gcloud topic gcloudignore
#
.gcloudignore
# If you would like to upload your .git directory, .gitignore file or files
# from your .gitignore file, remove the corresponding line
# below:
.git
.gitignore

# Python pycache:
__pycache__/
# Ignored by the build system
/setup.cfg

# Ignore NPM modules
/node_modules

# Development-only M0 feasibility harness and generated runtime assets
/tools/m0-harness
/templates/m0.jinja
/static/m0.js
/static/m0.js.map
/static/m0-inference-worker.js
/static/m0-inference-worker.js.map
/static/litertlm_wasm_*.wasm

# Ignore Python virtual env
/.venv
